body {
  margin: 0;
}

header {
  background-image: url(/images/header-image.png);
  width: auto;
  min-height: 850px;
  background-size: cover;
  background-position: inherit;
  margin: 0;
}

.navigate {
  text-align: center;
  padding: 1px 2rem;
  margin-left: 50px;
  margin-top: 0;
}

.container {
  padding: 0 23rem;
}

/* .navigate h1{
    text-align: start;
    padding: 0 24px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
} */

nav {
  margin-left: 28px;
  position: relative;
}

nav::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 90%;
  height: 1px;
  background-color: rgb(143, 143, 143);
}

nav::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50px;
  width: 90%;
  height: 1px;
  background-color: rgb(143, 143, 143);
}

.navigate a {
  float: left;
  text-decoration: none;
  color: white;
  font-size: 14px;
  padding: 16px 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-right: 2px;
  font-weight: 600;
}

.navigate a:hover {
  background-color: #d95d03;
}

.navigate .active {
  background-color: #d95d03;
}

.navigate img {
  display: block;
  margin-right: auto;
  margin-top: 26px;
  margin-left: 25px;
}

/* h1::after{
    content: 'Co';
    top: 0;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

.routes {
  display: flex;
  background-color: #202020;
  margin: auto;
}

.container-outside {
  background-color: #202020;
}

.box3 {
  border-right: 0.5px solid rgb(143, 143, 143);
}

.box1 {
  border-left: 0.5px solid rgb(143, 143, 143);
  border-right: 0.5px solid rgb(143, 143, 143);
}

.box2 {
  width: 40%;
  border-right: 0.5px solid rgb(143, 143, 143);
}

.top-text {
  text-align: center;
  color: #aaaaaa;
  font-size: 13px;
  font-weight: 100;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.top-text h1 {
  margin-top: 15px;
  font-weight: unset;
}

.img-bottom img {
  display: block;
  margin: auto;
  margin-top: 30px;
}

.container2 {
  padding: 0 30rem;
}

.ipad {
  background-image: url(/images/radial-shadow.png);
  width: auto;
  min-height: 420px;
  background-size: cover;
  background-position: center;
  margin: 0;
  position: relative;
}

.ipad::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 25px;
  background-color: #d95d03;
}

.sect2 {
  position: relative;
}

.tablet-image {
  position: absolute;
  bottom: 0;
  right: 24.5%;
}

.icon {
  width: 30%;
  padding-top: 6.5rem;
  margin-left: 1px;
}

.icon img {
  width: 12%;
  float: left;
}

.span-text {
  float: right;
  color: #aaaaaa;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 3px;
}

.span-text span:first-child {
  font-weight: 600;
  font-size: 21px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  word-spacing: normal;
}

.container3 {
  padding: 0 23rem;
}

.product-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.about-product .top {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
  margin-left: 8px;
  color: #aaaaaa;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.left span {
  margin-left: 14px;
  font-size: 19px;
}

.about-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.product-box {
  width: 31.5%;
  background-color: #1a1a1a;
  position: relative;
  margin: 5px 0 5px;
}

.product-box img {
  width: 100%;
  vertical-align: bottom;
}

.prev{
  margin-top: 68px;
}

.next{
  margin-top: 68px;
}

.product-box:hover{
  cursor: pointer;
}

.center {
  padding: 0 1rem;
  justify-content: space-between;
  width: 80%;
}

.about-product .bottom {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.product-box::after {
  content: "New";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #d95d03;
  color: white;
  font-weight: bold;
  padding: 3px 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.right {
  color: #d95d03;
  font-weight: 100;
  font-size: 13px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.sect3 hr {
  background-color: #aaaaaa;
  height: 0.1px;
  width: 85%;
  margin-top: 35px;
}

.sect4 .top {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.sect4 .top span {
  color: #aaaaaa;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 14px;
  font-size: 19px;
}

.sect4 .bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.text-box {
  width: 32%;
}

.text-box button {
  border: none;
  border-radius: 4px;
  background-color: #d95d03;
  color: white;
  padding: 4px 14px;
  margin-top: 35px;
  font-weight: bold;
}

.text-box span {
  color: #aaaaaa;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 2px;
}

.sect4 hr {
  background-color: #aaaaaa;
  height: 0.1px;
  width: 53%;
  margin-top: 40px;
}

.sect5 .top {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.sect5 .top span {
  color: #aaaaaa;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 14px;
  font-size: 19px;
}

.quality-box{
  width: 50%;
  height: 100%;
}

.sect5 .bottom{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}

#box1, #box2{
  color: #aaaaaa;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 9px;
  margin-bottom: 35px;
}

#box3, #box4{
  color: #ffffff;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 9px;
  margin-top: 20px;
}

.sect6 .top{
  background-color: #1a1a1a;
  padding: 110px 200px;
  display: flex;
  justify-content: space-between;
}

.sect6 .top{
  justify-content: space-between;
}

.sect6{
  position: relative;
  margin-top: 140px;
}

.iphone{
  position: absolute;
  top: -55px;
  left: 27%;
}

.top-right{
  width: 47%;
  display: flex;
  justify-content: space-evenly;
}

#span-text{
  font-size: 22px;
}

.top-left img{
  width: 16%;
  height: 20%;
  float: right;
}

.top-left{
  width: 50%;
}

.sect6 button{
  padding: 15px 30px;
  background-color: #d95d03;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.sect6 .bottom{
  display: flex;
}

.sect6 .bottom-left{
  display: flex;
  align-items: center;
  text-align:center;
  width: 33%;
  justify-content: space-around;
  color: #ffffff;
}

.sect6 .bottom-center{
  display: flex;
  width: 33%;
  align-items: center;
  text-align:center;
  justify-content: space-around;
  color: #ffffff;
}

.sect6 .bottom-right{
  display: flex;
  width: 33%;
  align-items: center;
  text-align:center;
  justify-content: space-around;
  color: #ffffff;
}